.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.c{
    background-color: green;
    height: 50px;
    width: 50px;
    
}
.c:hover{
    transition-duration: 2s;
    rotate: calc(300deg*700);
    transform: scale(7);
    translate: -200px 100px;
    border-radius: 50%;
}