*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    overflow-y: hidden;
}

.box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    
}
.b1,.b2,.b3,.b4{
    height: 70px;
    width: 70px;
    background-color: blue
}



.container:hover{
    
    .b1{
        transition-duration:7s ;
        translate: -600px -250px;
        background-image: linear-gradient(to bottom,rgb(236, 216, 216),blue);
        box-shadow: 4px 4px 4px rgb(209, 206, 206);
        border-radius: 50%;
        rotate: calc(130deg);
    }
    .b2{
        transition-duration:7s ;
        translate: 600px -250px;
        background-image: linear-gradient(to bottom,rgb(229, 224, 224),blue);
        box-shadow: 4px 4px 4px rgb(224, 216, 216);
        border-radius: 50%;
        rotate: calc(130deg);
    }
    .b3{
        transition-duration:7s ;
        translate: -600px 250px;
        background-image: linear-gradient(to bottom,rgb(228, 214, 214),blue);
        box-shadow: 4px 4px 4px rgb(194, 189, 189);
        border-radius: 50%;
        rotate: calc(130deg);
    }
    .b4{
        transition-duration:7s ;
        translate: 600px 250px;
        background-image: linear-gradient(to bottom,rgb(201, 198, 198),blue);
        box-shadow: 4px 4px 4px rgb(231, 223, 223);
        border-radius: 50%;
        rotate: calc(130deg);
    }
}

