*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    height: 100vh;
}

.top{
    background-color: white;
    color: white;
    width: 300px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
    position: absolute;
    
}

.bottom{
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    cursor: pointer;
    position: relative;
    top: 50px;
}

.bottom:hover + .top{
    transition: 2s ease-in-out;
    background-color: tomato;
    
}