.container {
    
    background-color: lightgrey;
    margin: 0 auto;
    width: 600px;
    height: 600px;
    position: relative;
}

.box1 {
    height: 200px;
    width: 200px;
    padding: 10px;
    border: 10px solid red;
}

.box2 {
    height: 200px;
    width: 200px;
    padding: 10px;
    border: 10px solid black;
    position: fixed;
    bottom: 10px;
    right: 0px;
}

.box3 {
    height: 300px;
    width: 200px;
    padding: 10px;
    border: 10px solid green;    
}

.box1 {
    transition: transform 2s ease-in; /* smooth transition */
}

.box1:hover {  /* or trigger via JS */
    transform: translateX(50px);  /* moves box 50px to right */
}
