*{
    margin: 0 auto;
}
.parent{
    border: 10px solid red;
    height: 500px; 
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.child1{
    border: 4px solid blue;
    height: 100px; 
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.child2{
    border: 4px solid blue;
    height: 100px; 
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.child3{
    border: 4px solid blue;
    height: 100px; 
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center; 
}